.bookingContainer {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;
}
.bookingHeading {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}
.bookingForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
.bookingLabel {
  margin: 10px 0;
  color: #555;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.bookingInput {
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
  width: 20em;
}
.bookingInput::placeholder {
  color: black;
}
.bookingButton {
  background-color: #4caf50;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:
    system-ui,
    -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Helvetica Neue",
    sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.bookingButton:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}
.bookingButton:hover {
  box-shadow:
    rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px,
    rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}
/* button @media*/
@media (min-width: 768px) {
  .bookingButton {
    padding: 16px 48px;
  }
}
