footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 2rem;
  background-color: #fefefe;
  bottom: 0;
}

.underline {
  position: absolute;
  left: -12px;
  top: 2px;
  width: 20%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: 0.3s;
}

.underline::after {
  content: "";
  width: 50px;
  aspect-ratio: 1;
  border-radius: 10px;
  background: linear-gradient(
    145deg,
    rgba(98, 113, 253, 0.2) 0%,
    rgba(204, 121, 255, 0.2) 100%
  );
}

a {
  position: relative;
  z-index: 2;
}

.active:nth-child(1) ~ .underline {
  translate: 0 0;
}
.active:nth-child(2) ~ .underline {
  translate: 100% 0;
}
.active:nth-child(3) ~ .underline {
  translate: 200% 0;
}
.active:nth-child(4) ~ .underline {
  translate: 300% 0;
}
.active:nth-child(5) ~ .underline {
  translate: 400% 0;
}
