.childrenSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  background-color: white;
  top: 0;
  left: 100%;
  transition: transform 0.3s;
}
.childrenSectionContainer .buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.childrenSectionContainer .childList {
  overflow-y: scroll;
  padding-bottom: 83px;
  z-index: 1;
}
.childrenSectionContainer a {
  display: flex;
  align-items: center;
}
.childrenSectionContainer svg {
  filter: drop-shadow(0 2px 4px hsla(0, 0%, 0%, 0.1));
}

.childrenSectionNotHidden {
  transform: translateX(-100%);
  filter: drop-shadow(0 2px 4px hsla(0, 0%, 0%, 0.5));
}
.headerTitle {
  margin: 2.8rem 0 2rem 0;
  font-size: 1.8rem;
}
.imgNoChildren {
  width: 90%;
  aspect-ratio: 1;
  margin: 2rem 2rem 0 0;
}

@media screen and (min-width: 705px) {
  .childrenSectionContainer .childList {
    margin-left: 30vh;
  }
  .headerTitle {
    margin: 2.5rem 0 2rem 0;
  }
  .imgNoChildren {
    width: 30%;
    margin: 2rem 12rem 0 0;
  }
}
