@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap");
#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    145deg,
    rgba(71, 79, 255, 0.9) 0%,
    rgba(89, 84, 249, 0.9) 10%,
    rgba(227, 122, 204, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Not Found page */
.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: white;
}

.geoBar,
.primary-navbar {
  position: absolute;
  height: 80px;
  width: 375px;
  border: 1px solid black;
  z-index: 1;
  background-color: white;
}

.geoBar {
  top: 0;
}

.primary-navbar {
  bottom: 0;
}

.homepage {
  padding-top: 80px;
}

/* Main page */
.mainPage {
  height: 100vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
  gap: 2rem;
  padding-inline: 2rem;
}
