@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap");
#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    145deg,
    rgba(71, 79, 255, 0.9) 0%,
    rgba(89, 84, 249, 0.9) 10%,
    rgba(227, 122, 204, 1) 100%
  );
  /* padding: 3em 0 ; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* input */
input::placeholder {
  color: white;
}

/* Not Found page */
.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: white;
}

@media screen and (min-width: 705px) {
  .mainPage {
    width: 235vh;
    padding-inline: 17rem;
    background-color: white;
  }
}
