.createChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fefefe;
}

.createChild input {
  display: flex;
  border: 1px solid #fefefe;
  background-color: #f2f2f2;
  color: #8c8c8c;
  padding: 0.75rem;
  margin: 0.75em 0;
  border-radius: 5px;
  width: 100%;
}

.createChild input:focus {
  outline: 1px solid #020202;
  color: #020202;
}

.createChild button {
  cursor: pointer;
  width: 100%;
  background-color: #882aff;
  color: #fefefe;
  opacity: 0.5;
  border: none;
  border-radius: 5px;
  padding: 0.75em;
  margin-top: 6em;
  font-size: 1.025rem;
  font-weight: 700;
  transition: all 0.2s;
}

.createChild .submitButton {
  cursor: pointer;
  opacity: 1;
}

.createChild .deadButton {
  pointer-events: none;
}

.createChild .submitButton:hover {
  transform: scale(1.0125);
}

.createChild h3 {
  color: #020202;
  font-size: 1.5rem;
  font-weight: 900;
}

.createChild form {
  width: 90%;
}

.check {
  text-align: left;
  margin: 0.5em 0;
}

.isWalking {
  fill: #50d3c4;
}

.isNotWalking {
  fill: #fefefe;
  filter: drop-shadow(0 1px 1px hsl(215, 41%, 21%, 0.35));
}

.isDisabled {
  fill: #50d3c4;
}

.isNotDisabled {
  fill: #fefefe;
  filter: drop-shadow(0 1px 1px hsl(215, 41%, 21%, 0.35));
}

.isAllergic {
  fill: #50d3c4;
}

.isNotAllergic {
  fill: #fefefe;
  filter: drop-shadow(0 1px 1px hsl(215, 41%, 21%, 0.35));
}

svg {
  vertical-align: middle;
  margin-right: 0.75em;
}

.headerChildForm {
  display: flex;
}
